@{
    Layout = "_Layout";
}
@section usage
{
    <link href="~/css/form-page.css" rel="stylesheet" />
}
<div class="form-root">
    <div class="form-container">
        <h1 class="form-header">@ViewData["Header"]</h1>
        <form>
            @RenderBody()
            <button type="submit" class="btn-form">Submit</button>
        </form>
    </div>
</div>