
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["pieCHart"] = null;
    ViewData["barCHartData"] = 1;//Roep C# method en parse die data in die js



}
@section usage {
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/Chart.bundle.min.js"></script>
    <script type="text/javascript">


        document.addEventListener('DOMContentLoaded', (event) => {
        var barCHart = document.getElementById('barChart');
        var stars = [135850, 52122, 148825, 16939, 9763];
        var frameworks = ['React', 'Angular', 'Vue', 'Hyperapp', 'Omi'];

        var bartestChart = new Chart(barCHart, {
            type: 'bar',
            data: {
                labels: frameworks,
                datasets: [{
                    label: 'Github Stars',
                    data: stars
                }]
            },
            responsive: true
        })

            var pieCHart = document.getElementById('pieChart');

            var bartestChart = new Chart(pieCHart, {
                type: 'doughnut',
                data: {
                    labels: [
                        'Red',
                        'Blue',
                        'Yellow'
                    ],
                   
                    datasets: [{
                        label: 'My First Dataset',
                        data: [300, 50, 100],
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                    }]
                },
                responsive: true
            })

            

    });
    </script>

}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   

</head>
<body>
    <div class="container-fluid">
        <div class="row ">
            <!-- Sidear -->
            <div class="col-md-2 bg-light d-flex d-md-block sidebar">
                <div class="left-sidebar">
                    <ul class="nav flex-column sidebar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd" /></svg>
                                Overview
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd" /></svg>
                                Charts
                            </a>
                        </li>


                    </ul>
                </div>
            </div>
            <main class="col-md-9 ml-sm-auto col-lg-10  padding-top">
                <h3>Patients</h3>
                <hr>
                <div class="table-responsive">
                    <table class="table table-light table-striped ">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Position</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Project Manager</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-auto">
                        <div class="card">
                            <canvas id="pieChart" width="600" height="800"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div class="card">
                            <canvas id="barChart" width="600" height="800"></canvas>
                        </div>
                    </div>
                </div>


            </main>
        </div>
        @* start of card section *@
        

        <div class="row">
            <div class="col-sm-6">
                <div class="card">

                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">

                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>

@*<script>
        /////////
        var myAmounts = [];
        var myCategories = [];
        var myInvoices;

        function showChart() {
            myAmounts = myInvoices.AmountList;
            myCategories = myInvoices.CategoryList;
            console.log(myAmounts);
            console.log(myCategories);
            let popCanvasName = document.getElementById("invChart");
            let barChartName = new Chart(popCanvasName, {
                type: 'bar',
                data: {
                    labels: myCategories,
                    datasets: [{
                        label: 'Invoice data',
                        data: myAmounts,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.6)',
                            'rgba(54, 162, 235, 0.6)',
                            'rgba(255, 206, 86, 0.6)',
                            'rgba(75, 192, 192, 0.6)',
                            'rgba(153, 102, 255, 0.6)',
                        ]
                    }]
                },
                options: {
                    responsive: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
        function getChartData() {
            return fetch('./Index?handler=InvoiceChartData',
                {
                    method: 'get',
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8'
                    }
                })
                .then(function (response) {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw Error('Response Not OK');
                    }
                })
                .then(function (text) {
                    try {
                        return JSON.parse(text);
                    } catch (err) {
                        throw Error('Method Not Found');
                    }
                })
                .then(function (responseJSON) {
                    myInvoices = responseJSON;
                    showChart();
                })
        }
        getChartData();
    </script>*@
