@{
    ViewData["Title"] = "Home Page";
}

@section usage
{
    <link href="~/css/home.css" rel="stylesheet" />
}

<div class="home-container">
    <div class="image-container">
        <img src="@Url.Content("~/images/level_up_bg.png")" />
    </div>
    <div class="welcome-section">
        <h1>diagnose.Me 😷</h1>
        <p>
            Welcome to diagnose.Me. With diagnose.Me you can make use of our trained models to give you a probabilistic indication of having a stroke or heart attack.
            diagnose.Me stores your results in our database allowing you to view all your past results with ease. What are you waiting for? Let's get you diagnosed!
        </p>
        <a class="rounded-button" asp-controller="Home" asp-action="Categories">
            Get Started
        </a>
    </div>
</div>
