@model ClassificationApp.Models.Diseases.StrokePredictionModel
@using ClassificationApp.Constants
@using Newtonsoft.Json.Serialization;

@{
    Layout = "_PredictionFormLayout";
    ViewData["Title"] = "Stroke Prediction";
    ViewData["Header"] = "Stroke Prediction";

    int maxAge = 150;
    int maxGlucoseLevel = int.MaxValue;
    double maxBMI = 45;
}

@section formScripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $("#submit-btn").on("click", function (e) {
            e.preventDefault();
            $("form").validate();
            if ($("form").valid()) {
                var t = $("input[name='__RequestVerificationToken']").val();
                $("body").addClass("loading");
                $.ajax({
                    url: "@Url.Action("Stroke")",
                    headers:
                    {
                        "RequestVerificationToken": t
                    },
                    method: "POST",
                    data: $("form").serialize(),
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    dataType: "json",
                    success: function (res) {
                        res = JSON.parse(res);
                        if (res.hasOwnProperty('predictionResult')) {
                            $("form").addClass("scale-out-center");
                            $(".prediction-result-header").text('Probability of Stroke:\n\n');
                            $(".prediction-result-text").text(res.predictionResult + '%');
                            setTimeout(() => {
                                $("form").css("display", "none");
                                $("form").removeClass("scale-out-center");
                                $("body").addClass("show-prediction-result");
                                $(".prediction-result").css("display", "flex");
                                $(".prediction-result").addClass("scale-in-center");
                                setTimeout(() => {
                                    $(".prediction-result").removeClass("scale-in-center");
                                }, 700)
                            }, 500);
                        } else {
                            alert('Could not process request');
                        }
                    },
                    error: function (res) {
                        if (res.status === 401) {
                            window.location.href = '/Identity/Account/Login';
                        }
                    },
                    complete: function () {
                        $("body").removeClass("loading");
                        $("form").trigger("reset");
                    }
                })
            }
        });
    </script>

}

<form asp-action="Stroke" asp-controller="Prediction">
    <div class="form-group">
        <label asp-for="Gender"></label>
        <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Sex>()">
            <option selected="selected" value="">Please select...</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" min="0" max="@maxAge" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WorkType"></label>
        <select asp-for="WorkType" class="form-control" asp-items="Html.GetEnumSelectList<WorkType>()">
            <option selected="selected" value="">Please select...</option>
        </select>
        <span asp-validation-for="WorkType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ResidenceType"></label>
        <select asp-for="ResidenceType" class="form-control" asp-items="Html.GetEnumSelectList<ResidenceType>()">
            <option selected="selected" value="">Please select...</option>
        </select>
        <span asp-validation-for="ResidenceType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SmokingStatus"></label>
        <select asp-for="SmokingStatus" class="form-control" asp-items="Html.GetEnumSelectList<SmokeStatus>()">
            <option selected="selected" value="">Please select...</option>
        </select>
        <span asp-validation-for="ResidenceType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AverageGlucoseLevel"></label>
        <input asp-for="AverageGlucoseLevel" required type="number" class="form-control" min="0" max="@maxGlucoseLevel" step="0.01" />
        <span asp-validation-for="AverageGlucoseLevel" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BMI"></label>
        <input asp-for="BMI" type="number" required class="form-control" min="0" max="@maxBMI" step="0.01" />
        <span asp-validation-for="BMI" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="checkbox">
                <input asp-for="HasHypertension" />
                <label asp-for="HasHypertension"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <input asp-for="HasHeartDisease" />
                <label asp-for="HasHeartDisease"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <input asp-for="EverMarried" />
                <label asp-for="EverMarried"></label>
            </div>
        </div>
    </div>
    <button id="submit-btn" type="submit" class="btn-form">Submit</button>
</form>


