@model ClassificationApp.Models.Diseases.StrokePredictionModel
@using ClassificationApp.Constants;

@{
    Layout = "_PredictionFormLayout";
    ViewData["Title"] = "Stroke Prediction";
    ViewData["Header"] = "Stroke Prediction";
}

<form asp-action="Stroke" asp-controller="Prediction">
    <div class="form-group">
        <label asp-for="Gender"></label>
        <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Sex>()">
            <option selected="selected" value="">Please select...</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" min="0" max="@int.MaxValue" value="0" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <button type="submit" class="btn-form">Submit</button>
</form>


