/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    color: white !important;
    padding-top: 0 !important;
}

.nav-link:hover {
  cursor: pointer;
}

nav .active {
    background: rgb(240, 240, 240);
    border-radius: 2rem;
}
.test {
    color:red
}
body {
    background-color: rgb(22,17,17);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    max-width: 100% !important;
}

.page-container {
    flex: 1;
    height: 100%;
}

.page-container main {
    height: 100%;
}

.page-lb-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-image: url(../images/level_up_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.navbar {
    background-color: rgb(22,201,201);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 1px solid #d3d3d3;
    height:100%
}

.left-sidebar {
    position: sticky;
    top: 0;
    height: calc(100vh - 70px)
}

.sidebar-nav li .nav-link {
    color: #333;
    font-weight: 500;
}

.padding-top {
    padding-top: 25px;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(128,128,128,0.8);
}

/* Turn off scrollbar when body element has the loading class */
body.loading {
    overflow: hidden;
}
    /* Make spinner image visible when body element has the loading class */
    body.loading .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.loader {
    border: 16px solid rgb(22,17,17);
    border-top: 16px solid rgb(22,201,201);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}